---
layout: workshop      # DON'T CHANGE THIS.
root: .               # DON'T CHANGE THIS.
venue: "Caltech"      # brief name of host site without address (e.g., "Euphoric State University")
address: "Sherman Fairchild Library 3rd floor Multimedia Conference Room (MCR) "      # street address of workshop (e.g., "123 Forth Street, Blimingen, Euphoria")
country: "us"      # country (lowercase two-letter ISO code such as "fr" - see https://en.wikipedia.org/wiki/ISO_3166-1)
language: "en"     # language (lowercase two-letter ISO code such as "fr" - see https://en.wikipedia.org/wiki/ISO_639-1)
latlng: "34.137263,-118.124700"       # fractional latitude and longitude (e.g., "41.7901128,-87.6007318"; you can use http://www.latlong.net/)
humandate: "March 29-30, 2018"    # human-readable date (e.g., "Feb 17-18, 2020")
humantime: "9:00 am - 4:30 pm"    # human-readable time (e.g., "9:00 am - 4:30 pm")
startdate: 2018-03-29      # use YYYY-MM-DD format like 2015-01-01
enddate: 2018-03-30        # use YYYY-MM-DD format like 2015-01-02
instructor: ["Donna Wrublewski, Gail Clement"] # list of names like ["Kay McNulty", "Betty Jennings", "Betty Snyder"]
helper: ["Stephen Davison"]     # list of names like ["Marlyn Wescoff", "Fran Bilas", "Ruth Lichterman"]
contact: "dtwrub@caltech.edu"      # contact email address for workshop organizer, such as "grace@hopper.org"
etherpad: http://pad.software-carpentry.org/2018-03-29-caltech        # optional (insert the URL for your Etherpad if you're using one)
day1_am: "Introduction to R"
day1_pm: "Data analysis and visualization in R"
day2_am: "Advanced visualization in R"
day2_pm: "Introduction to R Notebooks and R Markdown"
---
<!--
  HEADER

  Edit the values in the block above to be appropriate for your
  workshop.  Run 'tools/check' *before* committing to make sure that
  changes are good.
-->

<h2>General Information</h2>

<!--
  INTRODUCTION

  Edit the general explanatory paragraph below if you want to change
  the pitch.
-->
<p>
<a target="_blank" href=http://datacarpentry.org>Data Carpentry</a> workshops are for any researcher 
who has data they want to analyze, and no prior computational experience is required. 
This hands-on workshop, inspired by Data Carpentry but not covering all the required topics to be a full Data Carpentry workshop, 
will teach basic concepts and skills using the RStudio environment for working more effectively with data. 
</p>
<p>
We will cover {{page.day1_am}}, {{page.day1_pm}}, {{page.day2_am}} and {{page.day2_pm}}.

Participants should bring their laptops and plan to participate actively. By the end of the workshop learners should be able to more effectively manage and analyze data and be able to apply the tools and approaches directly to their ongoing research.
</p>

<!--
  AUDIENCE

  Explain who your audience is.  (In particular, tell readers if the
  workshop is only open to people from a particular institution.
-->
<p>
  <strong>Who:</strong>
  The course is designed for graduate students at Caltech; however, other members of the Caltech community are welcome, if space 
  permits. Caltech graduate students will be given priority for registration.
</p>

<!--
  LOCATION

  This block displays the address and links to maps showing directions
  if the latitude and longitude of the workshop have been set.  You
  can use http://itouchmap.com/latlong.html to find the lat/long of an
  address.
-->
{% if page.latlng %}
<p>
  <strong>Where:</strong>
  {{page.address}}.
  Get directions with
  <a href="//www.openstreetmap.org/?mlat={{page.latlng | replace:',','&mlon='}}&zoom=16">OpenStreetMap</a>
  or
  <a href="//maps.google.com/maps?q={{page.latlng}}">Google Maps</a>.
</p>
{% endif %}

<!--
  SPECIAL REQUIREMENTS

  Modify the block below if there are any special requirements.
-->
<p>
  <strong>Requirements:</strong> Participants must bring a laptop with a 
  Mac, Linux, or Windows operating sytem (not a tablet, Chromebook, etc.) for which they have administrative privileges. 
  They should have a few specific software packages installed (listed
  <a href="#setup">below</a>). They are also required to abide by Data Carpentry's
  <a href="{{site.dc_site}}/code-of-conduct/">Code of Conduct</a>.
</p>

<!--
  CONTACT EMAIL ADDRESS

  Display the contact email address set in the header.  If an address
  isn't set in the header, the Software Carpentry admin address is
  used.
-->
<p>
  <strong>Contact</strong>:
  Please mail
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}
  for more information.
</p>

<hr/>

<h2>Registration</h2>

<p>This workshop requires a registration deposit of $20, covering both days. Please note that all attendees are expected to attend 
  both days - there will be no single-day registration discount offered. Each registration deposit will be <u>completely refunded upon successful 
  check-in</u>. Registration will also be refundable via cancellation before March 26, 2018 by 5 PM PDT.  </p>  
</p>

<p>There are two steps to complete your registration for this workshop:
  <ol>
    <li>Register by completing the form at the <a target="_blank" href="https://libcal.caltech.edu/event/4043003"> Caltech Library Event 
      Registration Page</a>.</li>
    <li>The $20 deposit for each day must be paid to GSC using 
      <a target="_blank" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=2HE453Q8AT7GA">this link</a> 
      within 72 hours of registering at the Library page to hold your reservation. Your reservation will auto-cancel if you do not 
      make payment to the Graduate Student Council representative within 72 hours.</li>
  </ol>
</p>

<!--
  SCHEDULE

  Show the workshop's schedule.  Edit the items and times in the table
  to match your plans.  You may also want to change 'Day 1' and 'Day
  2' to be actual dates or days of the week.
-->
<h2>Preliminary Schedule</h2>

<!-- DO NOT EDIT SURVEY LINKS -->
<!-- 
<p><em>Surveys</em></p>
<p>Please be sure to complete these surveys before and after the workshop.</p>
<p><a href='{{ site.dc_pre_survey }}'>Pre-workshop Survey</a></p>
<p><a href='{{ site.dc_post_survey }}'>Post-workshop Survey</a></p>
-->

<div class="row">
  <div class="col-md-6">

    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Morning</td>  <td>{{page.day1_am}}</td> </tr>
      <tr> <td>Afternoon</td>  <td>{{page.day1_pm}}</td> </tr>
    </table>
 
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>Morning</td>  <td>{{page.day2_am}}</td> </tr>
      <tr> <td>Afternoon</td>  <td>{{page.day2_pm}}</td> </tr>
    </table>
 </div>
</div>

<!--
  ETHERPAD

  Display the Etherpad for the workshop.  You can set this up in
  advance or on the first day; either way, make sure you push changes
  to GitHub after you have its URL.  To create an Etherpad, go to

      http://pad.software-carpentry.org/YYYY-MM-DD-site

  where 'YYYY-MM-DD-site' is the identifier for your workshop (e.g.,
  '2015-06-10-esu'.
-->
{% if page.etherpad %}
<p>
  <strong>Etherpad:</strong> <a target="_blank" href="{{page.etherpad}}">{{page.etherpad}}</a>.
  <br/>
  We will use this Etherpad for chatting, taking notes, and sharing URLs and bits of code.
</p>
{% endif %}

<hr/>

<!--
  SYLLABUS

  Show what topics will be covered.

  1. If your workshop is R rather than Python, remove the comment
     around that section and put a comment around the Python section.
  2. Some workshops will delete SQL.
  3. Please make sure the list of topics is synchronized with what you
     intend to teach.
  4. You may need to move the div's with class="col-md-6" around inside
     the div's with class="row" to balance the multi-column layout.

  This is one of the places where people frequently make mistakes, so
  please preview your site before committing, and make sure to run
  'tools/check' as well.
-->

<h2>Syllabus</h2>

<div class="row">
    <div class="col-md-6">
    <h3>Introduction to R</h3>
    <ul>
      <li>Basic R syntax</li>
      <li>The RStudio interface</li>
      <li>Brief introduction to plotting</li>
    </ul>
    </div>
  <div class="col-md-6">
    <h3>Data analysis and visualization in R</h3>
    <ul>
      <li>Basic R syntax</li>
      <li>The RStudio interface</li>
      <li>Brief introduction to plotting</li>
    </ul>
    </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Advanced visualization in R</h3>
    <ul>
      <li>How to import files</li>
      <li>The structure of data frames</li>
      <li>How to work with factors, rows and columns</li>
      <li>How to calculate summary statistics from a data frame</li>
      <li><a href="https://caltechlibrary.github.io/data-carpentry-R-ecology-lesson/index.html">Reference...</a></li>
    </ul>
  </div>
<div class="col-md-6">
    <h3>Introduction to R Notebooks and R Markdown</h3>
    <ul>
      <li>How to import files</li>
      <li>The structure of data frames</li>
      <li>How to work with factors, rows and columns</li>
      <li>How to calculate summary statistics from a data frame</li>
      <li><a href="https://caltechlibrary.github.io/data-carpentry-R-ecology-lesson/index.html">Reference...</a></li>
    </ul>
  </div>
</div>

<hr/>

<h2 id="setup">Setup</h2>

<p> To participate in a Data Carpentry workshop, you will need working copies of the described software. Please make sure to install 
  everything (or at least to download the installers) before the start of your workshop. Participants should bring and use their 
  own laptops to insure the proper setup of tools for an efficient workflow once you leave the workshop.</p>

<p>Please follow these <a href=install.html>Setup Instructions</a>.

<p>We maintain a list of common issues that occur during installation as a reference for instructors that may be useful on the 
  <a href = "https://github.com/swcarpentry/workshop-template/wiki/Configuration-Problems-and-Solutions">Configuration Problems and Solutions wiki page</a>.
</p>

<hr/>
